:root {
    --fros-blue-color: #191b1c;
    --light-blue-color: #149ea4;
    --dark-color: #202020;
    --light-gray: #dedede;
    --dark-gray: #a1a1a0;
    --light-color: #fff;
    --poppins-font: 'Poppins', sans-serif;
    --transition: all 0.3s ease-in-out;
    --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2) !important;
}

/* some resets */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: sans-serif;
    background-color: #267590;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

.bg-blue {
    background-color: var(--fros-blue-color);
}

.bg-white {
    background-color: var(--light-color);
}

.text-blue {
    color: var(--fros-blue-color);
}

.text-white {
    color: var(--light-color);
}

/* button */
.btn, button {
    border: none;
    cursor: pointer;
}

.btn {
    padding: .9rem 4rem;
    border-radius: 3rem;
    display: inline-block;
    background-color: var(--light-color);
    font-weight: 500;
    -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.btn-white {
    color: var(--fros-blue-color);
}

.btn-light-blue {
    background-color: var(--light-blue-color);
    color: var(--light-color);
}

.btn-blue {
    background-color: var(--fros-blue-color);
    color: var(--light-color);
}

.btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .btn-group .btn {
        width: 100%;
    }

        .btn-group .btn:first-child {
            margin-bottom: 2rem;
        }

.btn:hover {
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.container {
    max-width: 95vw;
    margin: 0 auto;
    padding: 0 1rem;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.grid {
    display: grid;
}

input {
    outline: 0;
}

.lead {
    font-size: 25px;
    text-transform: capitalize;
}

h1, h2, h3 {
    text-transform: capitalize;
    margin-top: 0;
    line-height: 1.3;
}

.text {
    opacity: 0.9;
}

.text-md {
    font-size: 1.5rem;
}

.text-lg {
    font-size: 3rem;
    font-weight: 500;
}

.text-sm {
    font-size: 1.3rem;
}

.py {
    padding: 10.9rem 0;
}

.text-center {
    text-align: center;
}

/* header */
.header {
    min-height: 20vh;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    z-index: 999;
}

    .navbar .container {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

.navbar-brand img {
    
    width: 160px;
}

.navbar-show-btn, .navbar-hide-btn {
    background-color: transparent;
    width: 30px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

button[class ^= navbar]:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


.navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;
    height: 10%;
    padding: 8rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
    box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    z-index: 1000;
}
/* navbar show class */
.navbar-show {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.navbar-hide-btn {
    position: absolute;
    right: 2rem;
    top: 4.5rem;
}

.nav-item {
    margin: 1.4rem 0;
}

.nav-link {
    opacity: 0.8;
    font-weight: 600;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    display: inline-block;
}

    .nav-link:hover {
        opacity: 1;
        color: whitesmoke;
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }

.search-icon {
    display: block;
    width: 27px;
    margin-right: 1rem;
}

.search-control::-webkit-input-placeholder {
    color: var(--light-gray);
}

.search-control::-moz-placeholder {
    color: black;
}

.search-control:-ms-input-placeholder {
    color: black;
}



.search-control::placeholder {
    color: var(--light-gray);
}

.search-control {
    height: 27px;
    width: 100%;
    border-radius: 1.9rem;
    border: 2px solid var(--light-gray);
    padding: 0 1.5rem;
}

/*profile card*/

.main{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: pop;
	padding: 50px;
}
.main .heading{
    font-family:sans-serif;
    color:whitesmoke;
	font-size: 50px;
    font-weight:200;
	margin-bottom: 80px;
	position: relative;
}
.heading span{
	color: rgb(0, 81, 255);
}
.heading::after {
    content: " ";
    position: absolute;
    width: 60%;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    background-color: #191b1c;
}
.container{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container .card{
	width: 400px;
	height: 510px;
	position: relative;
	border-radius: 10px;
	background-color: #191b1c;
	overflow: hidden;
	box-shadow: 0px 0px 22px #191b1c;
	margin:15px;
}
.card::after {
    content: " ";
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    background-image:url(../Images/jason-dent-UNDqO_CL30s-unsplash.jpg);
}
.card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fill;
    transition: .6s;
    box-shadow: 0px 0px 22px #191b1c;
    z-index: 99;
}
.card:hover img{
	transform: scale(.40) translateY(-80px);
	border-radius: 10px;
}
.card .details{
    
    font-family:sans-serif;
    color:whitesmoke;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 20px;
	transform: translateY(100%);
	transition: .6s;
}
.card:hover .details{
	transform: translateY(0);
}
.details h3 {
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 22px;
    
}
.details p {
    font-family: sans-serif;
    color:antiquewhite;
    font-size: 15px;
    margin-bottom: 7px;
}
.details .social-links{
	display: flex;
}
.details .social-links a{
	width: 30px;
	height: 30px;
	margin: 0 5px;
	border-radius: 50%;
	color: #333;
	background-color: rgb(182, 182, 182);
	text-decoration: none;
	transition: .6s;
	display: grid;
	place-items: center;
	font-size: 17px;
}
.details .social-links a:hover{
	transform: rotate(360deg);
	background-color: rgb(0, 81, 255);
	color: #fff;
}


/* footer */
.footer {
    background-color: var(--dark-color);
}

.footer-item {
    margin-bottom: 6rem;
}

    .footer-item:last-child {
        margin-bottom: 0;
    }

.footer-head {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.4rem;
    margin-bottom: 4rem;
}

.footer-item .icon {
    width: 120px;
    margin: auto;
}

.footer-item .text {
    padding: 3rem 0;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.footer-item address {
    font-size: 1.5rem;
    font-style: normal;
}

.footer-item .tags-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .footer-item .tags-list li {
        margin: .5rem 1rem;
        padding: .5rem 1rem;
        background-color: rgb(58, 58, 58);
        border-radius: .4rem;
    }

.footer-item a {
    margin-bottom: 1rem;
    display: inline-block;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

    .footer-item a:hover {
        color: var(--dark-gray);
    }

.footer-item:last-child .text {
    padding-top: 0;
}

.footer-item .appointment-info li {
    margin: 1rem 0;
}

    .footer-item .appointment-info li span {
        margin-left: 1rem;
    }

.footer-links {
    border-top: 2px solid var(--dark-gray);
    padding: 4.5rem 0;
}

    .footer-links li {
        margin: 0 2.4rem;
        font-size: 2rem;
    }

        .footer-links li a {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 2px solid var(--light-color);
            -webkit-transition: var(--transition);
            -o-transition: var(--transition);
            transition: var(--transition);
        }

            .footer-links li a:hover {
                background-color: var(--light-color);
                color: var(--fros-blue-color);
            }




/* Media Queries */
@media(min-width: 450px) {
    .navbar-collapse {
        width: 320px;
    }

    .btn-group .btn {
        width: auto;
    }

        .btn-group .btn:first-child {
            margin-right: 48px;
            margin-bottom: 0;
        }

    .border-line {
        width: 405px;
    }
}

@media(min-width: 768px) {
    .header-inner-left h1 {
        font-size: 5.7rem;
    }

    .services-inner, .doc-panel-inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .doc-panel-inner {
        -webkit-column-gap: 3rem;
        -moz-column-gap: 3rem;
        column-gap: 3rem;
    }

    .doc-panel .section-head h2 {
        text-align: left;
    }

    .package-service-inner, .posts-inner, .footer-inner {
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 6rem;
        -moz-column-gap: 6rem;
        column-gap: 6rem;
    }

    .footer-inner {
        text-align: left;
    }

    .footer-item .icon, .footer-item .text {
        margin-left: 0;
    }

    .footer-item .tags-list {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media(min-width: 992px) {
    .header-inner {
        padding-top: 3.2rem;
    }

        .header-inner .container {
            grid-template-columns: 545px auto;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: calc(100vh - 32px);
            position: relative;
        }

    .header-inner-left {
        text-align: left;
    }

        .header-inner-left .text {
            margin-left: 0;
        }

        .header-inner-left .btn-group {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: start;
        }

    .header-inner-right img {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-left: 5rem;
    }

    .about-inner .container {
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 3rem;
        -moz-column-gap: 3rem;
        column-gap: 3rem;
    }

    .about-left {
        text-align: left;
        margin-bottom: 0;
    }

        .about-left .section-head h2 {
            text-align: left;
        }

    .border-line {
        margin-left: 0;
    }

        .border-line::after {
            left: 0;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }

    .about-right {
        margin-left: auto;
        margin-top: 11.2rem;
    }

    .banner-two .container {
        grid-template-columns: repeat(2, 1fr);
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-column-gap: 6rem;
        -moz-column-gap: 6rem;
        column-gap: 6rem;
    }

    .banner-two-right {
        text-align: left;
    }

        .banner-two-right .btn-group {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }

        .banner-two-right .lead {
            margin-top: 0;
        }

    .banner-two-left img {
        width: 100%;
        max-width: 100%;
    }

    .doc-panel-inner {
        grid-template-columns: repeat(3, 1fr);
    }

    .doc-panel-item {
        margin-bottom: 0;
    }

    .package-service-inner {
        grid-template-columns: repeat(3, 1fr);
    }

    .package-service-item {
        margin-bottom: 0;
    }

    .contact .container {
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 2.4rem;
        -moz-column-gap: 2.4rem;
        column-gap: 2.4rem;
    }
}

@media(min-width: 1200px) {
    .navbar-show-btn, .navbar-hide-btn {
        display: none;
    }

    .navbar-collapse {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    .navbar-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .nav-item {
        margin: 0;
        margin-left: 3.5rem;
    }

    .nav-link {
        color: var(--light-color);
        opacity: 1;
        font-weight: 500;
        position: relative;
    }

        .nav-link::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            height: 2px;
            width: 0;
            background-color: var(--light-color);
            opacity: 0;
            -webkit-transition: var(--transition);
            -o-transition: var(--transition);
            transition: var(--transition);
        }

        .nav-link:hover {
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            color: var(--light-color);
        }

            .nav-link:hover::after {
                opacity: 1;
                width: 100%;
            }

    .search-bar {
        margin-left: 5.5rem;
    }

    .search-inner-right {
        width: 100%;
    }

        .search-inner-right img {
            padding-left: 0;
            max-width: 647px;
        }

    .search-control {
        width: 150px;
    }

    .header-inner-right {
        width: 100%;
    }

        .header-inner-right img {
            padding-left: 0;
            max-width: 647px;
        }

    .services-inner {
        grid-template-columns: repeat(4, 1fr);
        -webkit-column-gap: 2rem;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }

    .service-item {
        margin-bottom: 0;
    }

    .doc-panel-inner {
        -webkit-column-gap: 9rem;
        -moz-column-gap: 9rem;
        column-gap: 9rem;
    }

    .posts-inner {
        grid-template-columns: repeat(3, 1fr);
    }

    .post-item {
        margin-bottom: 0;
    }

    .contact .container {
        grid-template-columns: auto 514px;
    }

    .footer-inner {
        grid-template-columns: repeat(4, 1fr);
        -webkit-column-gap: 6rem;
        -moz-column-gap: 6rem;
        column-gap: 6rem;
    }
}

@media(min-width: 1480px) {
    /* general */
    .container {
        max-width: 81vw;
    }
}

/* transition and animation stopper */
.resize-animation-stopper * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
